.html {
  background-color: #e34c26 !important;
  color: #ffffff !important;
}

.css {
  background-color: #264de4 !important;
  color: #ebebeb !important;
}

.js {
  background-color: #f0db4f !important;
  color: #323330 !important;
}

.react {
  background-color: #61dbfb !important;
  color: #1f232a !important;
}

.nodejs {
  background-color: #68a063 !important;
  color: #303030 !important;
}

.pwa {
  background-color: #5a0fc8 !important;
  color: #ffffff !important;
}
